body.cocktails.new{
  background-color: rgba(0, 137, 186, 1)!important;
}

.add-container{
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 40px 0;
  height: 60vh;
}


h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: white;
  margin-top: 30px;
}


